@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

.hind-madurai {
    font-family: "Hind Madurai", sans-serif;
}

/* Media Query for smaller devices */
@media screen and (max-width: 576px) {
    .nav {
        margin: 0px 15px;
    }

    .icons {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        padding-left: 5px;
    }

    .icons-2 {
        flex-direction: column;
    }

    .parent-card {
        grid-template-columns: 1fr;
        margin: 0px 20px;
    }

    .child-1 {
        grid-template-columns: 1fr;
        grid-column: span 1;
    }

    .child-2 {
        grid-column: span 1;
    }
}